<% if signed_in? %>
<h1>Welcome to Blue Files</h1>
<div class="row">
	<div class="span6 well">
		<h3><%= link_to "Upload Documents", documents_new_path %></h3>
	</div>
	<div class="span5 well">
		<h3><%= link_to "View Files", documents_path %></h3>
	</div>
</div>


<% else %>
<div class="row">
<div class="span5 offset4">
	<h1>Welcome to Blue Files!</h1>
	<ul>
		<li>Secure Storage</li>
		<li>File Management</li>
		<li>Censorship & Privacy</li>
	</ul>
	<div><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-block" %></div>
</div>
</div>
<% end %>