<h1>Pricing</h1>

<div class="well dark">

	<div class="row">
		<div class="span4 offset4">
			<div id="price-box">
				<p id="price" class="price">$0.29</p>
				<p class="per">per user / month</p>
			</div>
		</div>
		<div class="span2 well dark">
				<h6>Pricing for:</h6>
			<p id="numberOfFiles" class="numberOf"><i class="icon-file-alt"></i> <span>200</span> <small>files</small> </p>
			<p id="numberOfUsers" class="numberOf"><i class="icon-user"></i> <span>70</span> <small>users</small> </p>
		</div>
	</div>

	<div class="row slider">
		<h4>Number of Files</h4>
		<div id="files-slider" class="span11"> </div>
	</div>		

	<div class="row slider">
		<h4>Number of Users</h4>
		<div id="users-slider" class="span11"> </div>
	</div>		

</div>