<h1>Pricing</h1>

<div class="well dark">

	<div class="row">
		<div class="span4 offset4" style="margin-left:310px;">
			<div id="price-box">
				<p id="price" class="price">$0.29</p>
				<p id="per" class="per">per user / month</p>
			</div>
		</div>
		<div class="span2 pull-right">
				<h6>Pricing for:</h6>
			<p id="numberOfFiles" class="numberOf"><i class="icon-file-alt"></i> <span>200</span> <small>files</small> </p>
			<p id="numberOfUsers" class="numberOf"><i class="icon-user"></i> <span>70</span> <small>users</small> </p>
		</div>
	</div>

	<div class="row slider">
		<h4><i class="icon-user"></i> Number of Users</h4>
		<p class="minMax" id="min-users"> 1 - </p>
		<div id="users-slider" class="span9 offset1"> </div>
		<p class="minMax" id="max-users"> - 200</p>
	</div>		

	<div class="row slider">
		<h4><i class="icon-file-alt"></i> Number of Files</h4>
		<p class="minMax" id="min-files"> 1 - </p>
		<div id="files-slider" class="span9 offset1"> </div>
		<p class="minMax" id="max-files"> - 1000</p>
	</div>		

</div>

<div class="well dark">
	<div class="row">

		<div class="span4 threePlans" id="plan1">
			<div><i class="icon-circle-blank"></i></div>
			<h1>Free Trial</h1>
			<div class="info">
				<p class="numberOf"><i class="icon-file-alt"></i> <span>50</span> <small>files</small> </p>
				<p class="numberOf"><i class="icon-user"></i>  <small>unlimited users</small> </p>
				<p class="numberOf"><i class="icon-money"></i> <small>free for 30 days</small> </p>
			</div>
			<%= link_to "Start Trial", signup_path %>
		</div>
		
		<div class="span4 threePlans active" id="plan2">
			<div><i class="icon-circle-blank"></i></div>
			<h1>Pro</h1>
			<div class="info">
				<p class="numberOf"><i class="icon-file-alt"></i> <span>250</span> <small>files</small> </p>
				<p class="numberOf"><i class="icon-user"></i>  <small>unlimited users</small> </p>
				<p class="numberOf"><i class="icon-money"></i> <small>$19.95 / month</small> </p>
			</div>
			<%= link_to "Signup", signup_path %>
		</div>
		
		<div class="span4 threePlans" id="plan3">
			<div><i class="icon-circle-blank"></i></div>
			<h1>Extra</h1>
			<div class="info">
				<p class="numberOf"><i class="icon-file-alt"></i> <span>1000</span> <small>files</small> </p>
				<p class="numberOf"><i class="icon-user"></i>  <small>unlimited users</small> </p>
				<p class="numberOf"><i class="icon-money"></i> <small>$39.95 / month</small> </p>
			</div>
			<%= link_to "Signup", signup_path %>
		</div>

	</div>
</div>