<h1>Security</h1>

<div id="security-container">
	<div class="well dark">

		<div id="top-row" class="row">

			<div class="span3">
				<h2>Security</h2>
			</div>
			<div class="span3">
				<h2>Simplicity</h2>
			</div>
			<div class="span3">
				<h2>Our Technology</h2>
			</div>
			<div class="span3">
				<h2>Pricing</h2>
			</div>
		</div>
			<hr class="skinny">

		<!-- **** SECURITY **** -->
		<div id="row1">
			
			<div class="row well">
				
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=security"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=security"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=security"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>
		</div>

		<!-- **** Simplicity **** -->
		<div id="row2">
			
			<div class="row well">
				
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=simplicity"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=simplicity"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=simplicity"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>
		</div>

		<!-- **** Technology **** -->
		<div id="row3">
			
			<div class="row well">
				
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=technology"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=technology"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>

			<div class="row">
				<div class="span4 offset1"><img src="http://fakeimg.pl/350x200/333/FFF/?text=technology"> </div>
				<div class="span4 offset1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </div>
			</div>
		</div>

		<!-- **** Pricing Calculator **** -->
		<%= render 'welcome/pricing_calculator' %>
	
	</div>
</div>