<div class="recent-requests-stream">
	<ul>
		<% @recent_requests.each do |request| %>

		<li>
			<p class="main"><%= request.content  %></p>
			<p class="timestamp">Requested <%= time_ago_in_words(request.created_at) %> ago.</p>
		</li>
		<% end %>
	</ul>
	<h4><%= link_to "View All", requests_path %></h4>
</div>