<div class="hiddenDocForm">
	<h1>limit 10 per page</h1>
	<p>Once you've uploaded documents form this page, reload the page again</p>
	
	<%= button_tag "Reload Page", class: "btn btn-warning btn-block", id: "reloadButton" %> 

<!-- 	<div id="reloadButton" class="btn btn-warning btn-block" data-confirm="Sure?"> -->
		
</div>