
<div id="recently-viewed-container">
	<h4 id="recently-viewed-header">Recently Viewed</h4>
	<div id="recently-viewed">
		<ul>
			<% unless cookies[:recently_viewed].nil? %>
				<% n = 0 %>
				<% cookies[:recently_viewed].split("%").reverse.each do |id|  %>
					<% unless Document.find_by_id(id).nil? %>
						<% doc = Document.find(id) %>
						<a href="/documents/<%= id %>">
							<li>
								<p class="main"><%= doc.category + " " + doc.sub_category %> </p> 
								<p class="main">  <small><%= doc.title  %></small></p>
							
							</li>
						</a>
						<% n += 1 %>
						<% break if n == 4 %>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>