thisform = $("#<%= params[:document][:hidden] %>")
thisform.addClass('success_form').delay(500).after('<h1 style="color:lightgreen">Added: <%= params[:document][:title] %></h1>').hide('slow');
$("#<%= params[:document][:hidden] %> div.saving").hide();

