thisform = $("#<%= params[:document][:hidden] %>")
												// TODO make link to the document popup
thisform.addClass('success_form').delay(500).after('<h1 style="color:lightgreen">Added: <%= params[:document][:title] %></h1>').hide('slow');
$("#<%= params[:document][:hidden] %> input[type=submit]").addClass("btn-success");
$("#<%= params[:document][:hidden] %> div.saving").hide();

