<h1>Documents#index</h1>
<p>All Document</p>
<h2 style="color:red;">TODO should display just documents of signed in account</h2>
	<ol>
<% @current_account_documents.each do |doc| %>
		<li><%= doc.category %> / <%= doc.sub_category %> / <%= doc.sub_sub_category %></li>
<% end %>
	</ol>