<h1>Documents#new</h1>
<p>Find me in app/views/documents/new.html.erb</p>
<hr>
<h2 style="color:green;">Docs: <%= current_account.documents.count %></h2>

<div class="row">
<div class="span5 offset4 center">

<!-- document create form -->
<%= render 'documents/new_document_form' %>

</div>
</div>