<h1 style="text-align:center">Upload Documents</h1>
<hr>
<div class="row" id="new-doc-hud">
	<div class="span12">
		
		<div class="span3">
			<h4 style="color:green;">Total Documents: <%= current_account.documents.count %></h4>
			<%= link_to raw(" <i class='icon-file-alt'></i>	 View Documents"), documents_path %>
		</div>
		<div class="span6 pull-right">
			<p>
					Every document uploaded will be converted to work with our <strong>secure document viewer</strong>. Please convert files to <strong>PDF format</strong> before uploading
			</p>
		</div>
	</div>
</div>
<div class="row" id="newDocumentsRow">
	<div class="span4 offset4 center">
		<div id="addFormContainer">
			<div class="added-file top-header">
				<p>Uploaded Documents</p>
			</div>

			<!-- document create form -->
			<% 10.times do  %>
			<%= render 'documents/new_document_form' %>
			<% end %>
			<%= render 'documents/last_form' %>

			<hr style="color:black;">
		</div>

	</div>
</div>

