
<div class="row">
	<div class="span2">
		<h2 id="sort-by">Sort By:</h2>
	</div>
	<div class="span6">
		
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#viewed">Most Viewed </a></li>
			<li class=""><a href="#commented">Most Commented</a></li>
			<li class=""><a href="#recent">Recently Added</a></li>
		</ul>

	</div>
</div>

<div class="tab-content">
	<!-- <div class="well" style="background-color:rgba(0, 0, 0, 0.11);" > -->
		<div class="tab-pane active" id="viewed">

			<%= render 'documents/most_viewed_documents_stream' %>


		</div>
	

	<div class="tab-pane" id="commented">
		<%= render 'documents/most_commented_documents_stream' %>
	</div>

	<div class="tab-pane" id="recent">
			<%= render 'documents/recent_documents_stream' %>
	</div>
	<!-- </div> -->
</div>


<div style="width:200px, background-color: #000">
	<% @docsByViews.each do |doc| %>
		<% v = doc.views.to_s %>
		<% v = v + "px" %>
		<hr class="graph-line" style="border: none; border-bottom: 1px solid white; margin: 1px; backround-color: white; width: <%= v %>">
	<% end %>

</div>