// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #555;
#sign-up-form, #CC-form{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #CCC;
	// background-color:rgba(255,255,255,0.25);
	padding: 10px 15px;

	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6),0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.2);
	h1,h2,h3,h4,h5,h6,p,label{
		color: $gray;
		text-shadow: 0px 1px 1px #AAA;
	}
	::-webkit-input-placeholder {
		color:    #888;
		font-weight: 200;
	}
	:-moz-placeholder {
		color:    #888;
		font-weight: 200;
	}
	::-moz-placeholder {
		color:    #888;
		font-weight: 200;
	}
	:-ms-input-placeholder {
		color:    #888;
		font-weight: 200;
	}
	#sign-up-header{
		p{
			font-weight: 200;
		}
	}
	span.gray{
		color: lighten($gray, 15%);
		font-weight: 200;
		margin-right: 10px;
	}
	span.add-on{
		color: #ccc;
		margin-right: -5px;
		box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		-moz-box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		-webkit-box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		i{
			color:#888;
		}
	}
	.field_with_errors{
		label.message{
			margin-bottom: -18px;	
		}

	}
	label.checkbox{

	}
	input{
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;

		box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		-moz-box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		-webkit-box-shadow: inset 1px 2px 2px rgba(114, 114, 114, 0.7);
		&[type="submit"]{
			width:245px;
			color: $gray;
		}
		&[type="checkbox"]{
			position: relative;
			right: 194px;
			bottom: 1px;

		}
	}
}

#CC-form{
	div.input-prepend{
		color: $gray;
	}
}
.sign-up-side{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #BBB;
	// background-color:rgba(255,255,255,0.25);
	padding: 10px 15px;

	box-shadow: inset 1px 1px 0 #aaa,0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.2);
	height: 626px;
	margin-left:0px !important;
	margin-top: 1px;

	hr{
		border-top: 1px solid #999;
	}
	h2{
		font-weight: 200;
		text-align: center;
		color:  $gray;
		margin-bottom: 35px;
	}
	i{
		color:  $gray;
		font-size: 20px;
	}
	p{
		color: $gray;
	}
	ul{
		color: lighten($gray,5%);
	}
}


// STRIPE
#stripe_error{
	color: red;
}