// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#file-usage{
	h2{
		text-align: center;

	}
	.well{
		padding: 0px;
	}
	.horizontal-bar{
		height:30px;
		width:30%;
		background-color: yellowgreen;
		border-radius: 0 3px 3px 0;
		div{
			font-size: 1.3em;
			margin-top: 4px;
			margin-right: 6px;
		}
	}
	#max{
		margin-top: 6px;
		span{
			font-size: 1.3em;
		}
	}
}

.gray-well{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #CCC;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6),0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.2);
	padding: 5px 0;

	h1,h2,h3,h4,h5,h6,p,label,ul,div.input-prepend,#current-files{
		color: #333;
		text-shadow: 0px 1px 1px #AAA;
	}
	ul{
		list-style: none;
	}
	div.input-prepend,li{
		margin-bottom: 5px;
		background-color: #ddd;
		padding: 6px;
		color: #444;
		font-weight: 200;
		margin-right: 100px;
		box-shadow: inset 1px 2px 3px #bbb;
		border: 1px solid rgb(190, 190, 190);
		padding-left: 8px;
		&:hover{
			background-color: rgb(215, 223, 231);
		}
	}
	&.sub{
		padding: 10px 0;
		font-size: 1.3em;
		color: #444;
	}
}