@import "bootstrap";
@import "font-awesome";
@import "variables";
hr.skinny{
	border-bottom:none;
}
.well{
	background-color:lighten($lighter-blue, 10%);
}

.btn-block{
	width: 90%
}

#index{
	.offset1{
		margin-left: 60px;
	}
	.span5{
		margin-left: 40px;
	}
}
// FORMS
.hiddenDocForm{
	// display:none;
	
}
.theHider{
	position: relative;
	right: 900px;
}

.hiddenDocForm{
	form{
		opacity: 0;
	}
}
form[data-remote]{
	// file select
	text-align: center;
	input#document_document_file{
		height: 35px;
		line-height: 20px;
		width: 100%;
	}
	input[type=submit].saving{

	}
	div.saving{
		width: 50px;
		height: 50px;
		background-image: image-url("ajax-loader-yellow.gif");
		background-repeat: no-repeat;
		display: none;
		position: relative;
		bottom: 0px;
		left: 192px;
	}
}

.success_form{
	input,select{
		background-color:lightgreen;
	}
	input[type=submit]{
		background-color: lightgreen !important;
	}
}

.field_with_errors{

	display: inline;
	input{
		background-color: rgb(255, 186, 186);

	}

	label.message{
		color: red !important;
		// display: inline;
		padding-left: 5px;
		font-size:   12px;
		margin-left:22px;
	}
}
#reloadButton{
	width:230px;
}
#addDocForm{
	position: relative;	
	bottom: 5495px;
}
.addThisForm{
	position: relative;
	left: 969px;
	bottom: 420px;
	margin-bottom: -400px;
	// styling
	width:200px;
	height:350px;
	text-align: center;

	&:hover{
		background-color: lighten(#2F657D, 12%);
		cursor:hand; 
		cursor:pointer; 
	}
	&:active{
		background-color: lighten(#2F657D, 15%);
	}
		
	p{
		font-size: 45px;
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		padding-top:85px;
		color: $lighter-blue;
		&:hover{
			color: lighten($lighter-blue, 5%);
		}
	}
		
		
	i{
		color: $lighter-blue;
		position: relative;
		top: 100px;
		right: 15px;
		font-size: 90px;
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		&:hover{
			color: lighten($lighter-blue, 5%);
		}
	}
}

// Streams

.recent-documents-stream, .recent-requests-stream,
.most-views-stream, .most-comments-stream{
	&.well{
		background-color:rgba(0, 0, 0, 0.11);
	}
	a{
		&:hover{
			text-decoration: none;
			
		}
		& li{
			color: lighten($lighter-blue, 2%);
			// HERE
			-webkit-box-shadow: 2px 3px 0px -1px lighten($lighter-blue, 7%);
			&:hover{
				color: lighten($lighter-blue, 6%);
			}
		}
	}
	li{
		padding-left: 5px;
		color: lighten($lighter-blue, 2%); //bullet points
		// And HERE
		-webkit-box-shadow: 2px 3px 0px -1px lighten($lighter-blue, 7%);
		&:hover{
			background-color:lighten($lighter-blue, 12%);
			color: lighten($lighter-blue, 6%);
		}
		&:active{
			background-color:lighten($lighter-blue, 11%);
		}
		p.main{
			color: whitesmoke;
			font-size: 1.1em;
			small{
				color: whitesmoke;
			}
		}
		p.timestamp{
			color: #999999;
			font-size: 0.8em;
			margin-top: -10px;
		}
	}
	.view-all{
		margin-left: 28px;
		font-weight: 200;
	}
}

.logo{
	&:hover{
		position:relative;
		bottom:2px;
	}
	&:active{
		background-color:whitesmoke;
		border: 2px solid black;

	}
	margin: 20px;
	max-width:200px;
	&.big{
		max-width: 250px;
	}
	&.small{
		max-width: 125px;
	}
	&.verysmall{
		max-width: 75px;
	}
	&.icon{
		max-width: 30px;
	}
}

// Comments
.comments-header{
	text-align: center;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	color: lighten($lighter-blue, 2%);
	margin-top: -10px;
	margin-bottom: 5px;
}

div.comments-wrapper{
	ul{
		li{
			color: lighten($lighter-blue, 2%); //bullet points
			padding: 3px 15px 3px 5px;
			background-color:lighten($lighter-blue, 9%);
			-webkit-box-shadow: 2px 3px 0px -1px lighten($lighter-blue, 7%);
			&:hover{
				background-color:lighten($lighter-blue, 8%);
			}
			
			p{
				&.timestamp{
					color: #999999;
					font-size: 0.8em;
					margin-top: -10px;
					// float:right;
				}
			}
		}
	}
}



#upload, #view{
	&:hover{
		text-decoration: none;
		background-color:lighten($lighter-blue, 15%);
	}
	h1{
		font-size: 28px;
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        
        &:hover{
        	color: saturate(lighten($lighter-blue, 40%), 50%);
        }     
        &:active{
        	color: lighten($lighter-blue, 20%);
        }
	}
	text-align: center;
	i{
		margin-left: 5px;
		margin-top: 2px;
		font-size: 50px;
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
		// color: lighten($lighter-blue, 2%);
	
	}
}

//Recently Viewed Stream
#recently-viewed-container{
	min-width: 1000px;
}
#recently-viewed-header{
	text-align: center;
	font-weight: 100;
}

div#recently-viewed{
	text-align: center;
	height: 100px;

background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.45) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */


	ul{
		list-style-type: none;
		padding-top: 20px;
		a{
			// TODO Cross-browser border-radius?
			border-radius: 2px 10px;
			padding: 10px 5px 50px 5px;
			margin: 10px 20px;
			background-color: rgba(255, 255, 255, 0.09);
			border: 1px solid rgba(255, 255, 255, 0.06);
			opacity: 0.6;
			&:hover{
				opacity: 1.0;
				text-decoration: none;
				position: relative;
				bottom: 1px;
			}
			&:active{
				background-color:lighten($lighter-blue, 10%);
				opacity: 0.6;
			}
			li{
				display: inline;
				p{
					display: inline;
				}
			}
		}
	}
}


// MISC

.todo{
	background-color: #BBB;
	border-radius: 3px;
	border: 1px dashed #777;
	margin: 5px;
	padding: 3px;
}

#flash-fade{
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.2) inset;
	// background-color: #DC3A3A;
	color: white;
	text-shadow:none;
	border:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	&.alert-notice{
		background-color: $notice;
		color: #3F3F3F;
	}
	&.alert-error{
		background-color: $warning;
	}
	&.alert-success{
		background-color: $success;
}

i{
	font-size: 1.5em;
	margin-right: 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.21);
	padding-right: 12px;
	padding: 3px 12px 3px 0px;
}
}

#sort-by{
	// text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	color: #000000;
}

#admin-link{
	a{
		color: rgba(173, 255, 47, 0.71);
		&:hover{
			color: rgba(173, 255, 47, 1);
		}
	}
}
