@import "bootstrap";
@import "variables";
.well{
	background-color:lighten($lighter-blue, 10%);
}

// FORMS
.hiddenDocForm{
	// display:none;
	position: relative;
	left: 800px;
}

form[data-remote]{
	// file select
	text-align: center;
	input#document_document_file{
		height: 35px;
		line-height: 20px;
		width: 100%;
	}
	input[type=submit].saving{

	}
	div.saving{
		width: 50px;
		height: 50px;
		background-image: image-url("ajax-loader-yellow.gif");
		background-repeat: no-repeat;
		display: none;
		position: relative;
		bottom: 27px;
		left: 192px;
	}
}

.success_form{
	input,select{
		background-color:lightgreen;
	}
	input[type=submit]{
		background-color: lightgreen !important;
	}
}

.field_with_errors{

	display: inline;
	input{
		background-color: rgb(255, 186, 186);

	}

	label.message{
		color:   red;
		display: inline;
		padding-left: 5px;
		font-size:   12px;
	}
}
#reloadButton{
	width:230px;
}
#addDocForm{
	position: relative;	
	bottom: 5495px;
}

