// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ///// GETTING STYLES FROM accounts.css

#sign-in-form{
	box-shadow: 1px 4px 15px rgb(34, 34, 36);
	-moz-box-shadow: 1px 4px 15px rgb(34, 34, 36);
	-webkit-box-shadow: 1px 4px 15px rgb(34, 34, 36);

	text-align: center;
	input{
		height: 40px;
		font-size: 1.7em;
		font-weight: 200;
		&[type="submit"]{
			width: 100%;
		}
	}
	span.add-on{
		height: 40px;
		font-size: 1.7em;
		min-width: 30px;
		i{
			position: relative;
			top: 8px;
		}
	}
}