// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core/*.png";
@include all-core-sprites;

body{
	color:white;
	// resets
	p,h1,h2,h3,h4,h5,h6,label {
		color: white;
	}

	background-color: #1C3C4B;
	background-image: url(image_path('bg_blue.png'));

	padding-top: 60px;

}


// Index page
#welcome-header{
	text-align: center;
	position: relative;
	bottom: 20px;
	border-radius: 0px 0px 3px 3px;
}

#file-ticker{
	text-align:center;

	small{
		font-weight: 200;
	}
}

#homepage{

	div.row{
		padding: 20px 0px;
		border-bottom: 1px solid rgb(61, 67, 77);
		border-top: 1px solid rgb(43, 43, 43);
	}
}

.fakeimg{
	width: 425px;
	height: 225px;
	background-color: #333;

	h1{
		color: #FFF;
		margin-left: auto;
		margin-right: auto;

		font-family: 'Yanone Kaffeesatz', sans-serif;
	}
}

div.welcome-sprite{
	width: 425px;
	height: 225px;
	-webkit-box-shadow: inset 0px 0px 8px 0px #222;

	&:hover{
		-webkit-box-shadow: inset 0px 0px 8px 0px #DDD;
	}
}

div.welcome-text{
	padding: 10px 0 0 0;

	a{
		float:right;
	}
}

// ----- PRICING -----

div#price-box{
	background-color: #333;
	text-align:center;
	padding: 30px 20px 20px 20px;
	-webkit-box-shadow: inset 0px 0px 8px 0px rgb(14, 14, 14);
	p{
		&.price{
			font-size: 45px;
			color: yellowgreen;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		}
		&.per{
			font-size: 12px;
			color: #777;
		}
	}
}

div.row.slider{
	margin: 25px 0;
	h4{
		margin-bottom: -15px;
	}

}
#files-value{
	position:absolute;
	width: 50px;
}

p.minMax{
	color: gray;
	font-weight: 200;
	position: relative;
	&#min-files{
		left: 82px;
		top: 24px;
	}
	&#max-files{
		left: 2px;
		bottom: 3px;
	}
	&#min-users{
		left: 82px;
		top: 24px;
	}
	&#max-users{
		left: 2px;
		bottom: 3px;
	}
}
p.numberOf{
	color: yellowgreen;
	font-size: 1.4em;	
}

div.threePlans{
	&:hover{
		cursor: hand;
		cursor: pointer;
	}
	opacity: 0.6;
	margin-left:5px;
	margin-top: -19px;
	min-height: 270px;
	text-align: center;

	&:nth-child(2){
		border-left:  1px solid rgb(18, 33, 41);
		border-right: 1px solid rgb(18, 33, 41);
	}
	h1{
		color: rgb(44, 69, 82);
		text-align: center;
		font-family: Yanone Kaffeesatz;
		letter-spacing: 2px;
		font-size: 40px;
		margin-bottom: 35px;
	}
	div.info{
		margin-bottom: 50px;
		margin-left: 90px;;

		p.numberOf{
			text-align: left;
			font-size: 2.2em;
			padding: 5px;
			margin-bottom: 0px;
			color: gray;
		}
	}
	a{
		display: none;
		min-width: 200px;
		padding: 6px 50px;
		font-size: 1.1em;
		&:hover{
			text-decoration: none;
		}
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	}
	i.icon-circle-blank{
		color: #162b35;
		position: relative;
		bottom: 19px;
	}
	i{
		margin-right: 3px;
	}

	// INACTIVE
	&.active{
		cursor: default;
		opacity: 1.0;
	}
	&.active, &:hover{
		
		h1{
			color: #FFF;
			
		}
		div.info{
			

			p.numberOf{
				color: yellowgreen;	
			
			}
		}
		i.icon-circle-blank{
			color: yellowgreen;
			
		}
		i{
			
		}
		a{
			display: inline;
		}
	}
}
