// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body{
	color:white;
	// resets
	p,h1,h2,h3,h4,h5,h6,label {
		color: white;
	}

	background-color: #1C3C4B;
	background-image: url(image_path('bg_blue.png'));

	padding-top: 60px;
}