// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	color:white;
	// resets
	p,h1,h2,h3,h4,h5,h6,label {
		color: white;
	}

	background-color: #1C3C4B;
	background-image: url(image_path('bg_blue.png'));

	padding-top: 60px;

}


// Index page
#file-ticker{
	text-align:center;

	small{
		font-weight: 200;
	}
}

#homepage{

	div.row{
		padding: 20px 0px;
		border-bottom: 1px solid rgb(61, 67, 77);
		border-top: 1px solid rgb(43, 43, 43);
	}
}

.fakeimg{
	width: 425px;
	height: 225px;
	background-color: #333;

	h1{
	color: #FFF;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Yanone Kaffeesatz', sans-serif;
	}
}